* {
  font-family: Roboto;
}
/* Header */
#logo-header {
	padding-top:0.5em;
	
	
}

#title-header h2 {
	display:block; 
	font-family: Roboto;
	font-weight: bold;
	color: #18304E;
	margin-top:1.5%;
}

#bottom-header{
	background-color:#D7D7D7;
	height:11px;
	max-height:100%;
	margin-top:20px;
}

/*Left Body*/
#top-leftbody {
	padding-top:1em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3em;
}

#top_button {
	background-color: #77D2FA; 
	border: none;
	color: #18304E;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;	
	display: inline-block;
	
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#top_button:hover {
	
	color: #0087D1;
	border-bottom-style: solid;
	border-color: #0087D1;
	border-width: 5px;
}

#search-main-leftbody{
	background-color: #FFFFFF;
	margin-top:1em;
	height:auto;
	max-height:100%;
	padding-top:1em;
	padding-bottom:0.5em;
}

#search-main-leftbody input[type=text]{
	width: 90%;
	border-bottom:none;
	font-weight: 500;
	padding: 0px 10px;
	font-size: 1.5em;
	
}

#button-main-leftbody {
	margin-top:1.5em;
	padding-top:1em;
	padding-bottom:1em;
}

#button-main-leftbody button {
	background-color: #FFFFFF; 
	border: none;
	width: 80%;
	height: 154px;
	max-width:100%;
	max-height:100%;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;	
	display: inline-block;
	margin-top:1em;
	margin-left: 10%;
	margin-right: 10%
	
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


#button-main-leftbody h4 {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

#button-main-leftbody img {
	max-width:100%;
}

/*Right Body*/
#rightbody{
	
	padding-left:0px;
	padding-right:0px;
	
}

#rightbody img{
	width:100%;
	height:100vh;
	
	overflow:hidden;
}

#rightbody .btn-login {
  position: absolute;
  top: 4%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-weight: bold;  
  color: #8F8F8F;
  font-size: 21px;
  padding: 12px 24px;
  border: none;
  cursor: pointer; 
  text-align: center;
}
#rightbody .btn-indo {
  position: absolute;
  top: 3%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-weight: bold;  
  color: #8F8F8F;
  font-size: 21px;
  padding: 12px 24px;
  border: none;
  cursor: pointer; 
  text-align: center;
}

#rightbody .btn-eng {
  position: absolute;
  top: 4%;
  left: 78%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-weight: bold;  
  color: #8F8F8F;
  font-size: 21px;
  padding: 12px 24px;
  border: none;
  cursor: pointer; 
  text-align: center;
}

#footer-header{
	background-color:#1B5D66;
	height:11px;
	max-height:100%;

}

#footer-bottom{
	background-color:#18304E;
	height:auto;
	width:100%;
	color: #FFFFFF;
	font-size: 1.1em;
	padding-top: 1em;
	padding-bottom: 5em;
	display: inline-block;
	
}

#footer-bottom button {
	background-color: #18304E;
	border: none;
	font-weight: bold;
	text-align: center;
	text-decoration: none;	
	
	
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#footer-bottom p{
	display: inline-block;
}

@media (max-width:777px) {
  #rightbody {
    display:none;
  }
}

/* LOGIN */

#login_body p{
	color: #18304E;
	font-weight: 500;
	font-size: 1.5em;
	padding-left:0.5em;
	margin-top:1em;

}

#login_body form{
	
}

#input_form{
	background-color: #FFFFFF;
	margin-top:1em;
	margin-bottom:1em;
	height:auto;
	max-height:100%;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:10px;
	padding-right:10px;
}

#login_body input{
	width: 100%;
	border-bottom:none;
	font-weight: 500;
	padding: 0px 10px;
	font-size: 1.5em;	
}

#login_body button{
	margin-top: 3em;
	display:inline-block;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	width: 45%;
	height: 4em;
	margin-right:0.6em;
	margin-left:0.6em;
	font-size: 1.2em;
	font-weight: bold;
	
}

